* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'monseratt', sans-serif;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: rgba(235, 235, 235, 0.945);
  text-shadow: 3px 4px rgba(2, 2, 2, 0.5); 
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

.search-box {
  margin-top: 30px; 
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 400px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(225, 255, 255, 0.205);
  border-radius: 20px 0px 0px 20px;

  padding-left: 20px;

  color:rgba(0, 0, 0,0.75);

  appearance: none;
  border: none;
  outline: none;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}
.search-bar:focus {
  background-color: rgba(190, 190, 190, 0.466);
}

.search-btn {
  width: 125px;
  border-radius: 0px 20px 20px 0px;
  background-color: #FFF;
  font-size: 28px;

  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box {
  margin-top: 25px; 
  font-size: 70px;
}

.location-box .location{
  color: #FFF;
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 3px 2px rgba(2, 2, 2, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 15px auto;
  background-color: rgba(225, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 80px;
  font-weight: 980;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0,0.75));
  padding: 25px;
}

.type-temp {
  color: #FFF;
}

.celcius, .fahrenheit{
  display: inline-block;
  margin: 0px 20px 0px 20px;
  font-size: 50px;
}

label {
  margin-right: 10px;
}
